@import "tailwindcss";


@font-face {
  font-family: 'Satoshi';
  src: url('./assets/eafabf029ad39a43-s.p.woff2');
  
}

body {
  font-family: 'Satoshi';
}

svg {
  overflow: visible;
}

@keyframes jello-vertical {
  0% { transform: scale3d(1, 1, 1); }
  30% { transform: scale3d(0.75, 1.25, 1); }
  40% { transform: scale3d(1.25, 0.75, 1); }
  50% { transform: scale3d(0.85, 1.15, 1); }
  65% { transform: scale3d(1.05, 0.95, 1); }
  75% { transform: scale3d(0.95, 1.05, 1); }
  100% { transform: scale3d(1, 1, 1); }
}

.jello-hover:hover svg {
  animation: jello-vertical 0.9s both;
  transform-origin: left;
}

